.main_chat

  .main_chat__group-info
    .main_chat__group-info__left-box
      .main_chat__group-info__left-box__name
        = @group.name
      .main_chat__group-info__left-box__menber
        menber:
        .main_chat__group-info__left-box__menber__name
          - @group.users.each do |user|
            = user.name
    .main_chat__group-info__edit
    = link_to edit_group_path(@group), class: "main_chat__group-info__edit__btn" do
      Edit

  .main_chat__message-list
    = render @messages
          
  .main_chat__message-form
    = form_for [@group, @message],html: {class:"main_chat__message-form__mpform"}  do |f|
      .main_chat__message-form__mpform__mp
        = f.text_field :content, class: 'main_chat__message-form__mpform__mp__m', placeholder: 'type a message'        
        = f.label :image,class: "main_chat__message-form__mpform__mp__p" do
          = icon('fas', 'image', class: 'main_chat__message-form__mpform__mp__p__icon')
          = f.file_field :image, class: "main_chat__message-form__mpform__mp__p__file"
      = f.submit 'Send', class: "main_chat__message-form__mpform__btn"