.side_bar
  .side_bar__user-name
    .side_bar__user-name__box
      %h3.side_bar__user-name__box__name
        = current_user.name
      %ul.side_bar__user-name__box__icon
        %li.side_bar__user-name__box__icon__new-btn
          = link_to new_group_path() do
            = icon("far fa-edit",  class: "side_bar__user-name__box__icon__new-btn")
        %li.side_bar__user-name__box__icon__edit-btn
          = link_to edit_user_path(current_user) do
            = icon("fas fa-cog",  class: "side_bar__user-name__box__icon__new-btn")

  .side_bar__group-list
    - current_user.groups.each do |group|
      .side_bar__group-list__group
        = link_to group_messages_path(group) do
          .side_bar__group-list__group__name
            = group.name
          .side_bar__group-list__group__last-message
            = group.show_last_message